<div class="px-4 pt-2">
  <app-search (FilterText)="onFilter($event)"></app-search>
  <app-products #productComponent [FilterTextInput]="FilterText"></app-products>
  <app-product-details
    *ngIf="productComponent.SelectedProduct"
    [product]="productComponent.SelectedProduct"
  ></app-product-details>
</div>

<!-- <div *if="true">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo quisquam aut distinctio excepturi
  incidunt numquam tempora asperiores. Dolor excepturi et pariatur, dolores blanditiis, dicta
  dolorem in aliquid, id quod quae nisi rerum. Tempora voluptates alias sint quia, error nobis, eum
  tempore expedita ratione voluptatibus facilis sed nesciunt dignissimos mollitia neque repellat
  dolorum maxime tenetur impedit quos officia consectetur! Veritatis quo tempore minus, similique
  quos deserunt inventore! Praesentium temporibus impedit, est ut ipsam ad quisquam facilis rem
  corrupti laborum obcaecati consectetur magni tenetur omnis saepe eligendi tempora necessitatibus
  vero cum debitis maiores quis alias laboriosam! Esse, quod? Consequatur odit aspernatur
  voluptatum!
</div> -->
