<div class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="SubmitLogin()" class="login">
    <div class="login-icon">
      <i class="fa-solid fa-user"></i>
    </div>
    <h1>Welcome Back</h1>
    <p class="subtitle">Login to continue to your account</p>

    <div class="input-container">
      <label for="userName">User Name</label>
      <div class="input-field">
        <i class="fa-solid fa-user"></i>
        <input type="text" id="userName" formControlName="userName" placeholder="Enter UserName">
      </div>
      @if (loginForm.controls['userName'].invalid && loginForm.controls['userName'].touched) {
        <small>UserName is Required</small>
      }
    </div>
    <div class="input-container">
      <label for="password">Password</label>
      <div class="input-field">
        <i 
          class="fa-solid"
          [ngClass]="passwordInput && passwordInput.type === 'password' ? 'fa-lock' : 'fa-eye'"
          (click)="passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password'"
        ></i>
        <input #passwordInput type="password" id="password" formControlName="password" placeholder="Enter your Password">
      </div>
      @if (loginForm.controls['password'].invalid && loginForm.controls['password'].touched) {
        <small>Password is Required</small>
      }
    </div>

    <button type="submit">Login</button>

    <div class="input-checkbox">
      <input type="checkbox" id="check" formControlName="remember">
      <label for="check">Remember Me</label>
    </div>
  </form>
</div>
